*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    color: #383838;
}
:root{
    --bg-color: #e9e9e3;
}

body{
    background-color: var(--bg-color);
    font-family: "Play", sans-serif;
}
