
.banner-head p{
    font-size: 3.5vw;
    line-height: 64px;
    /* color: #2424245e; */
}

.banner-head p span{
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(97deg, rgb(11,11,11) 0%, rgb(12,12,12, 0.55) 100%, rgb(12,12,12, 0.55) 100%);
}

.contact button{
  padding: 10px 15px 10px 15px;
  background-color: #242424;
  color: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: 0 6px 6px #44444465;
  animation: bounce 5s infinite;
}


@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

}

@media screen and (max-width: 764px) {
  .banner-head p {
    font-size: 6.5vw !important;
    line-height: 1.6rem;
  }
}
  